<app-header [title]="headerTitle"></app-header>

<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)="onTabClicked($event)">

 <!-- PATIENTS -->
  <mat-tab>
    <ng-template mat-tab-label>
      <img class="material-icons" style="margin-right: 7px"
           height="24" viewBox="0 0 24 24" width="24"
           src="../../../assets/logos/patient-logo.png">
      Patienten
    </ng-template>
    <app-patient-list></app-patient-list>
  </mat-tab>

  <!-- DIAGNOSIS -->
  <mat-tab>
    <ng-template mat-tab-label>
      <img class="material-icons" style="margin-right: 7px"
           height="24" viewBox="0 0 24 24" width="24"
           src="../../../assets/logos/diagnose.jpg">
      Diagnose
    </ng-template>
    <app-diagnosis-list></app-diagnosis-list>
  </mat-tab>

  <!-- Disease -->
  <mat-tab>
    <ng-template mat-tab-label>
      <img class="material-icons" style="margin-right: 7px"
           height="24" viewBox="0 0 24 24" width="24"
           src="../../../assets/logos/disease.png">
      Krankheiten
    </ng-template>
    <app-disease-list></app-disease-list>
  </mat-tab>

  <!-- AllergieTypen -->
  <mat-tab>
    <ng-template mat-tab-label>
      <img class="material-icons" style="margin-right: 7px"
           height="24" viewBox="0 0 24 24" width="24"
           src="../../../assets/logos/allergie.png">
      Allergien
    </ng-template>
    <app-allergy-list></app-allergy-list>
  </mat-tab>

  <!-- MedicationInTake -->
  <mat-tab>
    <ng-template mat-tab-label>
      <img class="material-icons" style="margin-right: 7px"
           height="24" viewBox="0 0 24 24" width="24"
           src="../../../assets/logos/medikamente.png">
      Medikamente
    </ng-template>
    <app-medication-in-take-list></app-medication-in-take-list>
  </mat-tab>


</mat-tab-group>

