<div class="content" role="main">

  <!-- Highlight Card -->
  <app-background></app-background>

  <mat-card class="mat-elevation-z20" style="margin-bottom: 50px">
    <div>
      <h2 style="text-align: center; margin-bottom: 30px">
        ~ New registration ~
      </h2>
    </div>

    <div class="text-left pointer" style="">
      <a href="{{login_path}}" id="to-login">Zurrueck zu Login</a>
    </div>

    <mat-divider></mat-divider>

    <app-new-registration-stepper></app-new-registration-stepper>
  </mat-card>

</div>
