<div class="content" role="main">

  <!-- Highlight Card -->
  <app-background></app-background>


  <!-- Log-in field -->
  <div class="mat-elevation-z20" id="container">
    <mat-card>

      <div class="panel panel-primary">
        <form #userData="ngForm">
          <div class="row">
            <div class="col-sm-12" style="margin-bottom: 50px">
              <p style="text-align: center">
                ~ New registration ~
              </p>
            </div>


            <div class="col-sm-5 input-position">
              <mat-form-field appearance="outline" class="log-in-form-field" id="userNameForm">
                <mat-label>Username:</mat-label>
                <input matInput type="text" placeholder="Username" (ngModelChange)="onUserName($event)"
                       [(ngModel)]="username" name="username" id="username" required>
                <mat-icon matSuffix class="colorEdit">account_circle</mat-icon>
              </mat-form-field>
            </div>

            <div class="col-sm-5 input-position">
              <mat-form-field appearance="outline" class="log-in-form-field" id="userNameForm">
                <mat-label>Username:</mat-label>
                <input matInput type="text" placeholder="Username" (ngModelChange)="onUserName($event)"
                       [(ngModel)]="username" name="username" id="username" required>
                <mat-icon matSuffix class="colorEdit">account_circle</mat-icon>
              </mat-form-field>
            </div>

            <!-- USERNAME FIELD -->
            <div class="input-position">
              <mat-form-field appearance="outline" class="log-in-form-field" id="userNameForm">
                <mat-label>Username:</mat-label>
                <input matInput type="text" placeholder="Username" (ngModelChange)="onUserName($event)"
                       [(ngModel)]="username" name="username" id="username" required>
                <mat-icon matSuffix class="colorEdit">account_circle</mat-icon>
              </mat-form-field>
            </div>


            <!-- SECURITY FIELD -->
            <div class="input-position" style="margin-top: -10px">
              <mat-form-field appearance="outline" class="log-in-form-field" id="secretQuestionForm">
                <mat-label>Secret question:</mat-label>
                <input matInput autocomplete="off" placeholder="Question" type="text" disabled
                       [(ngModel)]="secretQuestion" name="secretQuestion" id="secretQuestion" required>
              </mat-form-field>
            </div>

            <div class="input-position" style="margin-top: -10px">
              <mat-form-field appearance="outline" class="log-in-form-field" id="answerForm">
                <mat-label>Answer:</mat-label>
                <input matInput autocomplete="off" placeholder="Answer"
                       type="text"
                       [(ngModel)]="answer" name="answer" id="answer" required>
              </mat-form-field>
            </div>

            <!-- PASSWORD FIELD -->
            <div class="input-position" style="margin-top: -10px">
              <mat-form-field appearance="outline" class="log-in-form-field" id="newPasswordForm">
                <mat-label>New password:</mat-label>
                <input matInput autocomplete="off" placeholder="New password" [disabled]="!answerCorrect"
                       [(ngModel)]="newPassword" name="newPassword" id="newPassword" required
                       [type] = "hidePassword ? 'password' : 'text'" autocomplete="off">
                <mat-icon matSuffix class="colorEdit pointer" (click)="hidePassword = !hidePassword">
                  {{hidePassword ? 'visibility_off' : 'visibility'}}
                </mat-icon>
              </mat-form-field>
            </div>

            <div class="text-left pointer" style="margin-top: -20px">
              <a href="{{login_path}}" id="reset-password">Back to login</a>
            </div>


            <!-- LOG IN BUTTON -->
            <div style="margin-bottom: 65px" class="input-position">
              <button mat-raised-button type="button" class="btn btn-primary button" id="login-button"
                      [disabled]="!username || !newPassword || !secretQuestion || !answer || isClicked"
                      (click)="confirmPwdRegistration()">
                {{isClicked ? 'Reset password...' : 'Reset password'}}
              </button>
            </div>

          </div>
        </form>
      </div>

    </mat-card>
  </div>

</div>
